/* Glassmorphic navbar */
.nav--main{
  position: relative;
  background-color: rgb(190, 149, 207);
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color:rgb(18, 17, 17);
  z-index: 10;
  transition: 0.5 s;
}
.nav--sub
{

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 2rem;
}