.softstory--main{
    
    font-weight: 500;
    min-height: 80vh;
    color: whitesmoke;
 }
 .softstory--container{
    display: flex;
    flex-direction: column;
    align-items: center;
    top:7%;
    padding: 10px 50px;
 }
 
 .desc{
     max-width: 80%;
     font-size: large;
     text-align: center;
     margin-bottom: 20px;
     margin-top: 4rem;
 }
 .upload--container{
     width: 80%;
     display: flex;
     align-items: center;
     justify-content:center;
     padding: 10px 0px;
     margin-bottom: 20px;
     cursor: pointer;
 }
 .upload--img{
     color: white;
       background-color: rgba(99, 101, 99, 0.6);
     width: 350px;
     height: 350px;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     text-align: center;
     border-radius: 50%;
     border: 5px dashed;
 }
 
 .upload--img:hover{
     background-color: rgba(167, 168, 167, 0.6);
 }
 .upload--details{
     flex: 4;
     color: white;
 }

 button{
        background-color: #AEBCC9;
        color:rgb(50, 50, 50);
        width: 100px;
        height: 40px;
        border: none;
        padding: 2px 5px;
        font-family: 'Poppins';
        border-radius: 8px;
 }

 button{font-family: 'Poppins'; transition: all .2s ease-in-out; padding: 5px 10px;  cursor: pointer; background-color: #AEBCC9; border: none; font-family: 'Poppins'; }
 button:hover{
    color:white;
    background-color: blueviolet;
     transform: scale(1.1);
 }