.report--main{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    min-height: 80vh;
}

.report--title{
    width: max-content;
    font-size: xx-large;
    padding: 25px 0;
}


.report--desc{
    font-size: large;
    width: 80%;
    line-height: 1.5em;
}

.report--links{
    border-radius: 5px;
    margin-top: 100px;
    padding: 20px 10px;
    font-size: medium;
    bottom: 0;
    background-color: #AEBCC9;
       transition: 0.2s all ease-out;
   text-decoration: none;
   color:rgb(50, 50, 50);}  
.report--links:hover{
    color:white;
    background-color: blueviolet;
    transform: scale(1.1);
}