.hero {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    color: whitesmoke;
    top:80px;
  }

  /* Hero content container */
  .hero__content {
    flex-basis: 50%;
    max-width: 50%;
  }

  /* Hero title */
  .hero__title {
    font-size: 3rem;
    margin-bottom: 10px;
  }

  /* Hero description */
  .hero__desc {
    line-height: 1.4em;
    font-size: 1.4rem;
    margin-bottom: 2.5rem;
  }

  /* Hero button */
  .hero__btn {
    
    font-family:inherit;
    background-color: #4a4e69;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }

  .hero__btn:hover {
    transform: scale(1.05);
    background-color: #3f3f46;
  }

  /* Image container */
  .image {
    flex-basis: 50%;
    max-width: 50%;
    margin-top: 20px;
  }


  /* Image */
  .image img {
    width: 100%;
    height: auto;
  }

 
  /* Media query for small screens */
  @media (max-width: 768px) {
    /* Hero section container */
    .hero {
      flex-direction: column;
    }

    /* Hero content container */
    .hero__content {
      flex-basis: 100%;
      max-width: 100%;
      text-align: center;
    }

    /* Image container */
    .image {
      flex-basis: 100%;
      max-width: 100%;
    }
  }